.contacts__formtext {
    max-width: 317.48px;
    margin-top: 44px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    margin-bottom:32px;
}